<h1><%= @place["name"] %></h1>
<h2>My Posts</h2>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="<%= post.image.attached? ? url_for(post.image) : "No Picture" %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= post["title"] %></h5>
            <h6><%= post["posted_on"] %></h6>
            <p class="card-text"><%= post["description"] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<p>
 <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>
<p>
 <a href="/places">Back to All Places</a>
</p>
