<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if @current_user %>
            <li class="nav-item">
              <a class="nav-link" href="<%= session_path(@current_user) %>" data-method="delete">Logout</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/new">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sessions/new">Login</a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= flash["notice"] %>
      <%= yield %>
    </div>
  </body>
</html>
