<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/places">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if @current_user %>
            <li class="nav-item">
              <strong style="color: green;">Welcome, <%= @current_user.username %></strong>
            </li>
            <li class="nav-item">
              <%= form_tag logout_path, method: :delete, class: 'nav-link' do %>
                <%= submit_tag 'Logout', class: 'btn btn-link', style: 'padding: 0; text-decoration: none;' %>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/new">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sessions/new">Login</a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= flash["notice"] %>
      <%= yield %>
    </div>
  </body>
</html>
